.App {
  text-align: left;
  height: 100%;
}
.Header {
  text-align: center;
  font-size: 50px;
  color: #443e3e;
  text-shadow: 1px 3px 5px #eeeeee;
}
/* write your parent styles in here for your App.js */
